{%extends 'thcProducts/base.html'%}
{% block title %}
Check out
{% endblock title %}

{% block body %}

<div class="container mt-4">

  <div id="checkOut">

  </div>
  <div id="billInfo">
  </div>
  <h3> Please Fill these details before palcing the order :)</h3>
  <form action="/checkOut/"method="post" name="checkOutForm" class="row g-3">{% csrf_token %}
    <input type="hidden" name="products" id="products">
    <input type="hidden" name="bill" id="bill">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" required class="form-control" name="name" id="name" placeholder="Enter your Full name">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" required class="form-control" name="email" id="email" placeholder="abc@mail.com">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Phone number</label>
      <input type="tel" id="phone" class="form-control" name="phone" placeholder="1234501678" pattern="[0-9]{10}"
        required>
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" required class="form-control" name="address1" id="address1" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" required name="address2" id="address2" class="form-control" 
        placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" name="city" id="city" required placeholder="Gurgaon" class="form-control" >
    </div>
    <div class="col-md-6">
      <label for="state" class="form-label">State</label>
      <input type="text" name="state" id ="state"required  placeholder="Haryana" class="form-control" >
    </div>

    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" name="zip" id="zip" required placeholder="122001" class="form-control" >
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary mb-4">Place Order</button>
    </div>
  </form>
</div>

{% endblock body %}

{% block script %}
<script>


  showCart();
  checkOutItems();
  calculateBill();
  function checkOutItems() {
    productCart = JSON.parse(localStorage.getItem("cart"))
    for (product in productCart) {
      //console.log(product,productCart[product][0],productCart[product][1],productCart[product][2]);
      card = `<div class="card mb-3" style="width: inherit;">
        <div class="row g-0">
      <div class="col-md-4" style=" width:12% ">
      <img src="/media/${productCart[product][2]}" width="150" height="150" alt="...">
      </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">${product}</h5>
        <p class="card-text"><b>Price: &#x20b9;</b> ${productCart[product][1]} </p>
        
        <button onClick="decrement(product)" type="button" class="btn btn-secondary btn-sm">-</button>
        ${productCart[product][0]}
    <button onClick="increment(product)"type="button" class="btn btn-secondary btn-sm">+</button>
      </div>
      
    </div>
  </div>
  </div>`
      $('#checkOut').append(card);
    }
  }

  function decrement(product) {
    
  }

  function increment(product) {
    console.log(product);
  }
    var bill = 0
  function calculateBill() {
    bill=0
    productCart = JSON.parse(localStorage.getItem("cart"))
    for (product in productCart) {
      qty = productCart[product][0];
      amount = productCart[product][1];
      bill = bill + (qty * amount);
    }
    newbillInfo = `<div  id="billInfo" class="alert alert-info" role="alert">
    Your bill is: &#x20b9;<b> ${bill}</b>
    </div>`
    $("#billInfo").append(newbillInfo);

  }
$('#products').val(JSON.stringify(localStorage.getItem("cart")));
{% if done %}
clearCart();
alert("Thanks for shopping with us. Your order has been placed :)")
{% endif %}
bill=document.getElementById("billInfo").innerText;
$('#bill').val(bill);
</script>
{% endblock script %}