{%extends 'thcProducts/base.html'%}
{% block homeactive %} active {% endblock homeactive %}
{% block title %}
Product Page
{% endblock title %}
{% block body %}
<div class="container mt-4">
    <div class="row no-gutters">
        {% for product in products %}
        <div class="card mb-3 mx-2" style=" max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{product.prodImage1}}" width="200" height="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{product.prodTitle}}</h5>
                    <small class="card-text"><b>Category: </b>{{product.prodCategory}}</small><br>
                    <small class="card-text"><b>Sub-Category: </b> {{product.prodSubCategory}}</small><br>
                    <small class="card-text"><b>Brand: </b> {{product.productBrand}}</small><br>
                    <small class="card-text"><b>About Product: </b> {{product.prodDescription|slice:"0:50"}}...</small>
                    <p class="card-text"><b>Market Price:Rs.</b> {{product.prodMarketPrice}}</p>
                    <p class="card-text"><b>Our Price:Rs.</b> Our Price:Rs.{{product.prodThcPrice}}/</p>

                    </div>
                    <button id="{{product.prodId}},{{product.prodTitle}},{{product.prodThcPrice}}" onClick="getId(this.id)" type="button" class="btn btn-outline-success mb-2">Add to cart</button>
                    <a href="product/{{product.prodId}}"><button type="button" class="btn btn-outline-success mb-2">Product Details</button></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
{% block script %}
<script>
showCart();
var cart={}
var qty=0
function updateCart(prodTitle)
{
    
    if(!cart[prodTitle])
    {
        cart[prodTitle]=qty+1
        localStorage.setItem("cart",JSON.stringify(cart));
    }
    else
    {
        var newQty=cart[prodTitle]
        cart[prodTitle]=newQty+1
        localStorage.setItem("cart",JSON.stringify(cart));

    }
    console.log('cart:',cart);
    showCart();
}


function getId(id)
{
    var prodId=id;
    var pId=prodId.split(",")
    //console.log(pId[0],pId[1]);
    updateCart(pId[1])
}
</script>
{% endblock script %}
